*.json
*.pyc
*.pt
*.bin
*.sh
*.ipynb
wandb.env
outputs/
wandb/
robertatokenizer_customized/
robertamodels/
cheating_solution.ipynb
__pycache__/
.ipynb_checkpoints/
models/**
runs/**
encoders/**
retriever/__pycache__/
retriever/encoders/**
retriever/*.ipynb
tokenizer/**
ignore/
Tuning/*
TrainRetrieval/*
